header {
    width: 100%;
    height: 70px;
    background: #c6efef;  
}

div#slider {
    width: 100px;
    float: right;
    margin-right: 40px;
}

div.submenu {
  clear:both;
  width: 96%;
  text-align: center;
  padding: 2%;
}
.ui-slider-horizontal {
    height: .1em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.25em;
    background: #c6efef;
    height: .5em;
}

#filtri-container {
    padding: 10px;
    height:50px;
    text-align: center;
}

#filtri {
    position: absolute;
    top: 113px;
    left: 10px;
    background: white;
    width: 300px;
    z-index: 100;
    padding:10px;
    border: 1px solid black;
}

#metrics {
    position: absolute;
    top: 120px;
    right: 10px;
    background: white;
    width: 500px;
    z-index: 100;

}
a {
    text-decoration:none;
}

span.header, a.header {
    display:block;
    color: white;
    padding: 5px;
    background:#330867;
}
div.form-group {
    padding-top:10px;
}

label.title {
    font-weight: 700;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/sito/img/waiting.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

span.turchese { color: #c6efef; font-size: 11px; }


div.community {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    clear:both;
}

div.picture-excerpt { 
    float:left;
    padding: 10px;
}

div.scelta {
    float:left;
    padding:40px;
    padding-top:50px;
}

div.hashtag {
    float:left;
    padding: 10px;
    min-width:150px;
    
}


.f1 { fill: #F4F1BB; background: #F4F1BB; }
.f2 { fill: #F4D6AC; background: #F4D6AC; }
.f3 { fill: #EA837F; background: #EA837F; }
.f4 { fill: #E3606F; background: #E3606F; }
.f5 { fill: #D81E5B; background: #D81E5B; }
.c1 { fill: #F4F1BB; background: #F4F1BB; stroke: black; stroke-width: 1; }
.c2 { fill: #F4D6AC; background: #F4D6AC; stroke: black; stroke-width: 1; }
.c3 { fill: #EA837F; background: #EA837F; stroke: black; stroke-width: 1; }
.c4 { fill: #E3606F; background: #E3606F; stroke: black; stroke-width: 1; }
.c5 { fill: #D81E5B; background: #D81E5B; stroke: black; stroke-width: 1; }

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 200px;          
    height: 45px;         
    padding: 10px;       
    font: 22px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}