logging==0.4.9.6
aniso8601==3.0.2
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
click==6.7
decorator==4.3.0
enum34==1.1.6
functools32==3.2.3.post2
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==0.24
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.3
numpy==1.15.2
pandas==0.23.4
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
pymongo==3.7.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
scandir==1.9.0
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
traitlets==4.3.2
wcwidth==0.1.7
