<html>
<head>
<title>FaST</title>
    <link href="/static/sito/css/cssreset-min.css" rel="stylesheet">
    <link href="/static/sito/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/sito/css/custom.css" rel="stylesheet">
</head>
<body>
<header> <img src="/static/sito/img/FsST-logo.png" style="height:50px;padding-top:10px;padding-left:10px;" alt="bad">   </header>

{% block content %}
{% endblock content %}

<script src="/static/sito/js/jquery-3.2.1.min.js"></script>
<script src="/static/sito/js/jquery-ui.js"></script>
{% block bottom_script %}


{% endblock %}

</body>
</html>
