{% extends 'sito/base_brand.html' %}


{% block legenda %}<img src="/static/sito/img/legenda_brand.png" />{% endblock %}

{% block bottom_script %}
<script src="/static/sito/js/lodash.js"></script>
<script src="/static/sito/js/plotly-latest.min.js"></script>

<script src="/static/sito/dati_test/metrics.js"></script>
<script src="/static/sito/dati_test/metrics2.js"></script>

<script type="text/javascript">  
  var maxLike = 1;
  var minLike = 0;
  var scalefactor = 1;
  var competitor = "";


  function preparaDati(post) {
      return {
        "source": 'http://localhost:8081/img/brands/'+ post.id_post+'.jpg', //post.url_img,
        "xref": "x",
        "yref": "y",
        "x": parseFloat(post.postcoord.x), 
        "y": parseFloat(post.postcoord.y),
        "sizex": ((parseInt(post.likes_count))/(maxLike-minLike))*scalefactor,
        "sizey": ((parseInt(post.likes_count))/(maxLike-minLike))*scalefactor,
        "xanchor": "center",
        "yanchor": "middle",
        "caption": post.caption,
        "likes_count": post.likes_count,
        "link_post": post.link_post,
        "imagetag": post.imagetag,
        "showgrid":false,
        "layer": "above"
    };
  }

  function disegnaGrafico(dati) {

    // 
    dati = filtraDati(dati);
    maxLike = _.max(_.flatMap(dati, function(x){ return parseInt(x.likes_count)}));
    minLike = _.min(_.flatMap(dati, function(x){ return parseInt(x.likes_count)}));

    images = _.flatMap(dati, preparaDati);
    x = _.flatMap(dati, function(el) { return el.postcoord.x});
    y = _.flatMap(dati, function(el) { return el.postcoord.y});

    var myPlot = document.getElementById('graph');

    data = [ { x:x, y:y, type:'scatter',
            mode:'markers', marker:{size:1, } } ];
    
    var layout = {
        images: images,
        hovermode:'closest',
        title:'',
        showlegend: false,
        xaxis: {
          showgrid: false,
          zeroline: false,
          showline: false,
          mirror: 'ticks',
          showticklabels: false,
        },
        yaxis: {
          showgrid: false,
          zeroline: false,
          showline: false,
          mirror: 'ticks',
          showticklabels: false,
        }
     };

    Plotly.newPlot('graph', data,  layout, {responsive: true, displaylogo: false});
   
    myPlot.on('plotly_click', function(data){
        var pts = '';
        for(var i=0; i < data.points.length; i++){
            var datiImg = _.find(images, { 'x': data.points[i].x, 'y': data.points[i].y });
            var appiattiti = _.concat(_.flatten(datiImg.imagetag.AMBIENT), _.flatten(datiImg.imagetag.FASHION), _.flatten(datiImg.imagetag.LIFESTYLE)); 
            var tag = _.join(_.flatMap(appiattiti, function(el) { return el.concept}), '<br/>');
            $('#data').html('<img src="'+datiImg.source+'" style="width:100%;"/><br/><br/>'+datiImg.caption +'<br/><br/>Likes: <strong>'+datiImg.likes_count +
              '</strong><br><br>Tags:<br/>'+ tag + '<br/><br/>'+
              '<a href="'+datiImg.link_post+'" target="blank">'+datiImg.link_post+'</a>');
        } 
    });
  }

  function filtraDati(dati) {
    var typeOfContent = [];

    $("[name='content_type']:checked").each(function() {
      typeOfContent.push($(this).val());
    });
    if (typeOfContent.length == 0) {
      return _.without(dati, undefined);
    } else {
      datiFiltrati = _.map(dati, function(d) {
        if (_.includes(typeOfContent, d.main_content)) {
          console.log(d.id_post);
          return d
        }
      });
      return _.without(datiFiltrati, undefined);
    }
  }

  function scala(fattore){
      $body.addClass("loading");
      scalefactor = fattore;
      disegnaGrafico(dati);
      $body.removeClass("loading");
  }

   // Variabili di configurazione
  var URL_BASE = "{{ backend }}"; // TODO: usare url vero
  var ID_SIRENUSE = '2252447111';
  var limit = 10;

  function showError() {
    $body.removeClass("loading");
    $('#graph').html('<h1 style="text-align:center; font-size:200%; color:red;">Error retrievieng data from the server</h1>');

  }
  function aggiornaDati() {
    //disegnaGrafico(dati);
    //return;
    competitor = $('#competitor').val();
    $body.addClass("loading");
  
    if ($('#limit').val() > 0 && $('#limit').val() != '') {
      limit = $('#limit').val();
    }

    // start=1505742111&end=1508139633
    var start = '';
    var end = '';
    timeframe = $('#timeframe').val();
    if (timeframe != "") {
      date = timeframe.split(' - ');
      var from_date = new Date(date[0]);
      start = '&start='+from_date.getTime()/1000;
      var to_date = new Date(date[1]);
      end = '&end='+to_date.getTime()/1000;

    }
    data = {
      'brand': ID_SIRENUSE,
      'competitor': competitor,
      'timeframe': timeframe,
      'start': start,
      'end': end,
      'limit': $('#limit').val(),
    }
    $.post({ 
        url: '{% url 'imposta-filtri' %}',
        data: data
    }).done(function(data) {
      // TODO: messaggio?
    }).fail(function() {
      showError();
    });

    if (competitor != "") {
      
      $.when(
        $.ajax(
          { url: URL_BASE + "/posts/"+ID_SIRENUSE+"?competitor="+competitor+start+end+"&limit="+limit,
          }
        ),
        $.ajax(
          { url: URL_BASE + "/posts/"+competitor+"?competitor="+ID_SIRENUSE+start+end+"&limit="+limit,
          }
        ),
        $.ajax(
          { url: URL_BASE + "/metrics/"+ID_SIRENUSE+'?'+start+end+"&limit="+limit,
          }
        ),
        $.ajax(
          { url: URL_BASE + "/metrics/"+competitor+'?'+start+end+"&limit="+limit,
          }
        )
      ).then(function (resp1, resp2, resp3, resp4) {
          //this callback will be fired once all ajax calls have finished.
          dati = _.concat(resp1[0], resp2[0]);
          disegnaGrafico(dati);

          metriche = resp3[0];
          metricsCompetitor = resp4[0];
          disegnaMetriche();
          $body.removeClass("loading");
      }, function ( req, status, err) {
        showError();
      }); 
    } else {
      // Recupero i dati dell'emporio
      url = URL_BASE + "/posts/"+ID_SIRENUSE+"?limit="+limit+start+end;
      $.ajax({
        url: url,
      }).done(function(datiRicevuti) {
        dati = datiRicevuti;
        disegnaGrafico(dati);
        $body.removeClass("loading");
      }).fail(function() {
        showError();
      });

      $.when(
        $.ajax(
          { url: URL_BASE + "/posts/"+ID_SIRENUSE+"?limit="+limit+start+end
          }
        ),
        $.ajax(
          { url: URL_BASE + "/metrics/"+ID_SIRENUSE+'?'+start+end+"&limit="+limit,
          }
        )
      ).then(function (resp1, resp2) {
          //this callback will be fired once all ajax calls have finished.
          dati = resp1[0];
          disegnaGrafico(dati);
          metriche = resp2[0];
          metricsCompetitor = null;
          disegnaMetriche();
          $body.removeClass("loading");
      }, function ( req, status, err) {
        showError();
      }); 


    }
  }

  function filtra() {
    competitor = $('#competitor').val();
    $('#filtri').toggle();
    aggiornaDati();
    
  }

  $(document).ready(function() {
    aggiornaDati();
    //disegnaGrafico(dati);

    $( function() {
      $( "#slider" ).slider({
        max: 3,
        min: 1,
        change: function( event, ui ) {
          scala(ui.value)
        }
      }
      );
    } );
    
    
  });
         
  $body = $("body");    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript">




function disegnaMetriche() {

  // RADAR CHART
  var ctx = $('#myRadarChart');
  var color = Chart.helpers.color;
  var blue = 'rgb(54, 162, 235)';
  var purple = 'rgb(153, 102, 255)';

  var ambient = metriche['content']['ambient'];
  var fashion = metriche['content']['fashion'];
  var lifestyle = metriche['content']['lifestyle'];
  var dataseta = [ambient, fashion, lifestyle];

  data = {
        labels: ['ambient', 'fashion', 'lifestyle'],
        datasets: [{
          label: "Le Sirenuse",
          backgroundColor: color(blue).alpha(0.2).rgbString(),
          borderColor: blue,
          data: dataseta
        }]
    };

  competitor = $('#competitor').val();
  if (competitor != "") {
    var ambientB = metricsCompetitor['content']['ambient'];
    var fashionB = metricsCompetitor['content']['fashion'];
    var lifestyleB = metricsCompetitor['content']['lifestyle'];
    var datasetb = [ambientB, fashionB, lifestyleB];

    data.datasets.push({
          label: $('#competitor option:selected').text(),
          backgroundColor: color(purple).alpha(0.2).rgbString(),
          borderColor: purple,
          data: datasetb
        });
  }

  options = {
    scale: {
      ticks: {
        beginAtZero: true,
        min: 0,
        max: 1,
        stepSize: 0.2,
        display: false
      },
      pointLabels: {
        fontSize: 10
      }
    },
    legend: {
      position: 'bottom'
    },
    title: {
      display: true,
      text: 'Type of content'
    }
  };

  var myChart = new Chart(ctx, {
      type: 'radar',
      data: data,
      options: options
  });

  // LINE
  var ctx1 = $('#line-chart');
  var calendar = metriche['dates']
  var likesA = metriche['likes']

  var lineDataSets = {
      labels: calendar,
      datasets: [{ 
          data: likesA,
          label: "Le Sirenuse",
          borderColor: "#3e95cd",
          fill: false
        }
      ]
  };

  competitor = $('#competitor').val();
  if (competitor != "") {
    var likesB = metricsCompetitor['likes']
    lineDataSets.datasets.push({ 
          data: likesB,
          label: $('#competitor option:selected').text(),
          borderColor: "#8e5ea2",
          fill: false
        });
  }
  var lineOptions = {
      title: {
        display: true,
        text: 'Engagement Overtime'
      },
        legend: {
        position: 'bottom',
      },
  }

  ctx1.html('');
  var myLineChart = new Chart(ctx1, {
      type: 'line',
      data: lineDataSets,
      options: lineOptions
  });
}

</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(document).ready(function(){
    $('#timeframe').daterangepicker({
      autoUpdateInput: true,
      startDate: '12/31/2016',
      endDate: '11/05/2017'
    });
    $('#timeframe').val('');
    //disegnaMetriche();    
  });
  /*
  startDate (Date or string) The beginning date of the initially selected date range. If you provide a string, it must match the date format string set in your locale setting.
  endDate: (Date or string) The end date of the initially selected date range.
  minDate: (Date or string) The earliest date a user may select.
  maxDate: (Date or string) The latest date a user may select.
  */
</script>


{% endblock %}
