{% extends 'sito/base_brand.html' %}

{% block slider %}{% endblock %}

{% block drawing-area %}{% endblock %}

{% block bottom_script %}
<script src="/static/sito/js/d3.min.js"></script>
<script src="/static/sito/js/brand_hashtag.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    d3.json('{% url 'brand-hashtags-json' %}', function(err,fig) {
        if (err) {
            d3.select("body").append("div").attr("class", "error").html(err);
            return;
        }

        brand_hashtag(fig.hashtags);
    });
})
</script>


{% endblock %}
