{% extends 'sito/base.html' %}

{% block legenda %}<img src="/static/sito/img/legenda_community{% if tipo != 'influencers' %}_filter{% else%}_detail{% endif %}.png" />{% endblock %}


{% block content %}
<div style="width:100%; clear:both;">
  
  <div id="filtri-container">
      <a href="javascript:toggleFiltri()" class="header" style="width:70px; float:left; ">FILTERS</a>
      {% if community_name%}
      <a style="margin:auto;">
        Community: <span style="font-weight:700;text-transform:uppercase;">{{community_name}}</span>
      </a>
      {% endif %}
      <a href="{% url 'community' %}"  class="header" style="float:right;">BACK</a>
</div>

<div style="width:100%; text-align:center;">
{% if compare %}
<i class="fas fa-arrow-left"style="padding-right:30px;"></i> Sirenuse <span style="padding-left:30px;padding-right:30px;">•</span> {{ competitor }} <i class="fas fa-arrow-right"style="padding-left:30px;"></i>
</div>
{% endif %}

  <div class="chart-example" id="graph" style="width:90%; margin-left:5%; height:600px; float:left;"></div>

  <div style="width:360px; margin:auto;">
      <div class="submenu-link {% if tipo == 'influencers' %}selected{% endif %}">
        <a href="{% url 'community-detail' id_community 'influencers' %}" class="{% if tipo == 'influencers' %}selected{% endif %}"><i class="fas fa-bullhorn"></i> <br/>Influencers</a>
      </div>
      <div class="submenu-link {% if tipo == 'influencers' %}hashtags{% endif %}">
        <a href="{% url 'community-detail' id_community 'hashtags' %}" class="{% if tipo == 'hashtags' %}selected{% endif %}"><i class="fas fa-tag"></i><br/>Hashtags</a>
      </div>
      <div class="submenu-link {% if tipo == 'influencers' %}mentions{% endif %}">
        <a href="{% url 'community-detail' id_community 'mentions' %}" class="{% if tipo == 'mentions' %}selected{% endif %}"><i class="fas fa-at"></i><br/>Mentions</a>
      </div>
    </div>
</div>



{% endblock %}


{% block bottom_script %}
<script src="/static/sito/js/d3.min.js"></script>
<script>
  $(document).ready( function() {

    (function() {
 
  // D3 Bubble Chart 

  var sx = $('#graph').width();
  var sy = $('#graph').height();
  var diameter = (sx<sy ? sx : sy);
  
  var div = d3.select("body")
      .append("div") 
      .attr("class", "tooltip")       
      .style("opacity", 0);
                        
  var svg = d3.select('#graph').append('svg')
  {% if compare %}
  .attr('width', sx).attr('height', sy);
  {% else %}
  .attr('width', diameter).attr('height', diameter);
  {% endif %}  
  var bubble = d3.layout.pack()
      .size([diameter, diameter])
      .value(function(d) { return d.size; })
      .sort(function(a, b) { return; })
      .padding(0);

  {% if compare %}
  // generate data with calculated layout values
  function compare_placement(data) {
      var nodes;
      var j1,j2, l;
      var last_y, last_x, last_r;
      var max_size;
      
      function overlaps(node1, node2) {
          var dmin2 = Math.pow(node1.r + node2.r,2);
          var d2 = Math.pow(node2.x - node1.x, 2) + Math.pow(node2.y - node1.y, 2);
          
          return {
              "dx2": Math.pow(node1.x - node2.x,2),
              "dmin2": dmin2,
              "d2": d2,
              "does": d2<=dmin2
          };
      }

      function get_new_y() {
          return 0.2+0.6*Math.random();
      }

      nodes = data.children;
      l = nodes.length;
      max_size = 1;
      for (j1=0; j1<l; j1++) {
          nodes[j1].value = parseInt(nodes[j1].size,10);
          nodes[j1].x = nodes[j1].scale * sx;
          nodes[j1].y = sy*get_new_y();
          
          if (max_size<nodes[j1].value) {
              max_size = nodes[j1].value;
          }
      }
      

      // recalculate R as scaled
      middle_y = sy/2;
      var log10ref = Math.log(max_size);
      for (j1=0; j1<l; j1++) {
          // default values
          nodes[j1].r = sy / 12 * Math.log(nodes[j1].value) / log10ref;
      }

      // have we some overlaps?
      var dir;

      dir=1;
      for (j1=0; j1<l; j1++) {
          var n_rerun = 20;
          var is_rerun = false;
          for (j2=0; j2<j1; j2++) {
              var over = overlaps(nodes[j1], nodes[j2]);
              if (over.does) {
                  // we have an overlap
                  var over1;
                  
                  dy = Math.sqrt(over.dmin2 - over.dx2);

                  nodes[j1].y += dy * dir;
                  if (!is_rerun)
                      dir *= -1;
                  if (nodes[j1].y-nodes[j1].r<0) {
                      nodes[j1].y = nodes[j1].r;
                      dir=1;
                  } else if (nodes[j1].y+nodes[j1].r>sy) {
                      nodes[j1].y = sy - nodes[j1].r;
                      dir=-1;
                  }

                  // rerun
                  n_rerun--;
                  is_rerun = true;
                  if (n_rerun>0)
                      j2=0;
              }
          }
      }
      

      return nodes;
  }

  var nodes = compare_placement(processData());
  var vis = svg.selectAll('circle').data(nodes);
  
  vis.enter()
      .append('circle')
      .attr('transform', function(d) { return 'translate(' + d.x + "," + d.y + ')'; })
      .attr('r', function(d) { return d.r; })
      .attr('class', function(d) { return d.className; })
      .on("mouseover", function(d) {  
               div.transition()    
                   .duration(200)    
                   .style("opacity", .9);    
               div.html({% if tipo == 'hashtags' %}'#'+{% elif tipo == 'mentions'%}'@'+{%endif%}d.name +' - '+ d.size)  
                   .style("left", (d3.event.pageX) + "px")   
                   .style("top", (d3.event.pageY - 28) + "px");  
           })          
       .on("mouseout", function(d) {   
               div.transition()    
                   .duration(500)    
                   .style("opacity", 0); 
           })
       ;
  {% else %}
  // generate data with calculated layout values
  var nodes = bubble.nodes(processData()).filter(function(d) { return !d.children; }); // filter out the outer bubble

  
  
  var vis = svg.selectAll('circle').data(nodes);
  
  vis.enter()
      .append('circle')
      .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
      .attr('r', function(d) { return d.r; })
      .attr('class', function(d) { return d.className; })
      .on("mouseover", function(d) {  
              div.transition()    
                  .duration(200)    
                  .style("opacity", .9);    
              div.html({% if tipo == 'hashtags' %}'#'+{% elif tipo == 'mentions'%}'@'+{%endif%}d.name +' - '+ d.size)  
                  .style("left", (d3.event.pageX) + "px")   
                  .style("top", (d3.event.pageY - 28) + "px");  
          })          
      .on("mouseout", function(d) {   
              div.transition()    
                  .duration(500)    
                  .style("opacity", 0); 
          })
      ;
  {% endif %}  
  
  
  function processData() {
      var newDataSet = [{% for d in data %}
      {name: "{{d.title}}", className: "{{d.class}}", size: "{{d.size}}"
       {% if compare %}
       , scale: "{{ d.scale }}"
       {% endif %}
      }{% if not forloop.last%},{% endif %}
    {% endfor %}];
      
      return {children: newDataSet};
  }
  
})();
    
});

  var URL_BASE = "{{ backend }}"; // TODO: usare url vero
  var ID_SIRENUSE = '2252447111';
  var limit = 10;


  function filtra() {
    competitor = $('#competitor').val();
    $('#filtri').toggle();
    start = ''
    end = ''
    timeframe = $('#timeframe').val();
    if (timeframe != "") {
      date = timeframe.split(' - ');
      var from_date = new Date(date[0]);
      start = from_date.getTime()/1000;
      var to_date = new Date(date[1]);
      end = to_date.getTime()/1000;

    }
    data = {
      'brand': ID_SIRENUSE,
      'competitor': competitor,
      'timeframe': timeframe,
      'start': start,
      'end': end,
      'limit': $('#limit').val(),
      'complexity': $('#complexity').val()
    }
    $.post({ 
        url: '{% url 'imposta-filtri' %}',
        data: data
    }).done(function(data) {
      location.reload();
    }).fail(function() {
      showError();
    });
  }

</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(document).ready(function(){
    $('#timeframe').daterangepicker({
      autoUpdateInput: true,
      {% if request.session.timeframe %}
      start: '{{start_day}}',
      end: '{{end_day}}',
      {% endif %}
      startDate: '12/31/2016',
      endDate: '11/05/2017'
    });
    $('#timeframe').val('');
  });
  /*
  startDate (Date or string) The beginning date of the initially selected date range. If you provide a string, it must match the date format string set in your locale setting.
  endDate: (Date or string) The end date of the initially selected date range.
  minDate: (Date or string) The earliest date a user may select.
  maxDate: (Date or string) The latest date a user may select.
  */
</script>
{% endblock %}
